.link-brand{
  display: block;
  width: 9%;
  height: 35%;
  position: absolute;
  opacity: 0;
  top: 26%;
  left: 12%;
}
.link-home{
  display: block;
  width: 7%;
  height: 45%;
  position: absolute;
  opacity: 0;
  top: 27%;
  left: calc(44% + 7px);
}